.additional-goods {
  padding-top: 28px;

  @media (min-width: $tablet) {
    padding-top: 68px;

    overflow: hidden;
  }
}

.additional-goods__heading {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 320px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 0;

  position: relative;

  @media (min-width: $tablet) {
    width: auto;

    padding-left: 0;
  }
}

.additional-goods__heading::after {
  content: "";
  display: block;
  width: 53px;
  height: 2px;

  margin-top: 5px;

  background-color: $basic-green;

  @media (min-width: $tablet) {
    position: absolute;

    left: -9999px;
    right: 9999px;
    width: 99999px;
  }
}

.additional-goods__heading-text {
  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;

  text-align: left;

  color: $basic-dark;

  @media (min-width: $tablet) {
    width: 709px;
    margin: 0 auto;

    z-index: 1;
  }
}

.additional-goods__heading-text span {
  @media (min-width: $tablet) {
    padding-left: 37px;
    padding-right: 36px;

    background-color: $basic-white;
  }
}

.additional-goods__list {
  @include list-style;

  width: 320px;
  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 709px;
  }
}

.additional-goods__gift {
  width: 320px;

  margin: 0 auto;
  margin-top: 39px;
  margin-bottom: 35px;

  @media (min-width: $tablet) {
    width: 709px;

    margin-top: 69px;
    margin-bottom: 76px;
  }
}
