.additional-list {
  margin-top: 34px;

  padding-left: 20px;
  padding-right: 20px;

  background-color: $basic-white;

  @media (min-width: $tablet) {
    margin-top: 80px;

    padding-left: 0;
    padding-right: 0;

    border: 1px solid $special-gray;
  }

  @media (min-width: $desktop) {
    border: none;
    border-top: 1px solid $special-gray;
    border-bottom: 1px solid $special-gray;

    margin-top: 0;
  }
}

.additional-list__item {
  border-top: 1px solid $special-gray;

  padding-top: 13px;
  padding-bottom: 17px;

  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    padding-top: 26px;
    padding-bottom: 28px;
    padding-left: 37px;
    padding-right: 37px;
  }

  @media (min-width: $desktop) {
    align-items: center;

    padding-top: 15px;
    padding-bottom: 15px;
    padding-left: 0;
    padding-right: 0;
  }
}

.additional-list__item:last-child {
  border-bottom: 1px solid $special-gray;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.additional-list__item:first-child {
  @media (min-width: $tablet) {
    border-top: none;
  }
}

.additional-list__title {
  margin: 0;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-transform: uppercase;

  color: $special-dark-gray-2;

  @media (min-width: $tablet) {
    width: auto;

    font-size: 20px;
    line-height: 20px;
  }
}

.additional-list__wrapper {
  display: flex;
  justify-content: space-between;

  margin-top: 13px;

  @media (min-width: $tablet) {
    width: auto;

    margin-top: 0;
  }

  @media (min-width: $desktop) {
    width: 287px;
    margin-left: auto;
    margin-right: 40px;
  }
}

.additional-list__boxing {

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    margin-right: 51px;

    font-size: 16px;
    line-height: 20px;
  }
}

.additional-list__price {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 20px;
  }
}

.additional-list__button {
  width: 100%;

  margin-top: 15px;

  background-color: $basic-green;

  @media (min-width: $tablet) {
    margin-top: 26px;
  }

  @media (min-width: $desktop) {
    width: 244px;
    margin-top: 0;
  }
}
