.button {
  padding-top: 11px;
  padding-bottom: 11px;

  font-family: $special-font-family;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  text-align: center;
  text-transform: uppercase;
  text-decoration: none;

  color: $basic-white;

  border: 0;
}
