.catalog-list {
  background-color: $basic-white;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    justify-content: space-between;
  }
}

.catalog-list__item {
  display: flex;
  flex-wrap: wrap;

  padding-top: 24px;
  padding-bottom: 24px;

  border-top: 1px solid $special-gray-2;

  @media (min-width: $tablet) {
    width: 324px;

    margin-bottom: 140px;

    padding-left: 36px;
    padding-right: 36px;
    padding-top: 0;
    padding-bottom: 40px;

    flex-direction: column;
    align-items: center;

    border-top: none;

    background-color: #f2f2f2;
  }

  @media (min-width: $desktop) {
    width: 245px;

    margin-bottom: 0;
    margin-top: 144px;

    padding-left: 35px;
    padding-right: 30px;
  }
}

.catalog-list__item--show-more {
  padding-top: 79px;
  justify-content: center;

  border-bottom: 1px solid $special-gray-2;

  background-image: url("../img/plus.svg");
  background-repeat: no-repeat;
  background-position: center top 25px;

  @media (min-width: $tablet) {
    margin-bottom: 0;

    background-color: $basic-white;
    background-size: 60px;
    background-position: center top 52px;

    border: 2px solid #f2f2f2;
  }
}

.catalog-list__item:nth-child(7) {
  @media (min-width: $tablet) {
    margin-bottom: 0;
  }
}

.catalog-list__item:nth-child(2n) .catalog-list__button {
  margin-top: 9px;
}

.catalog-list__item:last-child .catalog-list__button {
  margin-top: 20px;
}

.catalog-list__image {
  margin-top: 10px;
  margin-left: auto;

  width: 68px;
  height: 86px;

  @media (min-width: $tablet) {
    margin-top: -45px;
    margin-left: initial;

    width: 161px;
    height: 172px;
  }

  @media (min-width: $desktop) {
    margin-top: -52px;

    width: 161px;
    height: 172px;
  }
}

.catalog-list__image--bigsize {
  width: 84px;
  height: 101px;

  @media (min-width: $tablet) {
    margin-top: -73px;

    width: 168px;
    height: 200px;
  }

  @media (min-width: $desktop) {
    margin-top: -80px;

    width: 172px;
    height: 196px;
  }
}

.catalog-list__info {
  width: 145px;

  display: flex;
  flex-direction: column;

  margin-top: -3px;
  margin-right: -4px;
  margin-left: auto;

  @media (min-width: $tablet) {
    width: 100%;

    margin-top: 34px;
    margin-left: initial;
  }

  @media (min-width: $desktop) {
    margin-top: 46px;
  }
}

.catalog-list__title {
  margin: 0;
  width: 76px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;

  display: flex;
  align-items: center;
  text-transform: uppercase;

  color: $special-dark-gray-2;

  @media (min-width: $tablet) {
    width: 144px;

    align-self: center;

    font-size: 20px;
    line-height: 24px;
    text-align: center;
  }
}

.catalog-list__title--more {
  width: auto;

  color: #111111;

  @media (min-width: $tablet) {
    width: 134px;

    margin-top: 82px;
  }
}

.catalog-list__goods-info {
  margin-top: 18px;
}

.catalog-list__text {
  margin: 0;
  margin-top: 8px;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 16px;

  text-align: center;

  color: $special-dark-gray;


  @media (min-width: $tablet) {
    width: 167px;

    margin-top: 23px;

    font-size: 16px;
    line-height: 18px;
  }
}

.catalog-list__button {
  width: 100%;

  margin-top: 22px;

  background-color: $basic-green;

  @media (min-width: $tablet) {
    max-width: 248px;
  }

  @media (min-width: $desktop) {
    margin-top: 33px;
  }
}

.catalog-list__button--more {

  color: $special-dark-gray;

  background-color: $basic-gray;

  @media (min-width: $tablet) {
    margin-top: auto;
  }
}
