.catalog {
  margin-top: 41px;

  background-color: $basic-white;

  @media (min-width: $tablet) {
    margin-top: 164px;
  }

  @media (min-width: $desktop) {
    margin-top: 16px;
  }
}

.catalog__wrapper {
  width: 320px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 709px;

    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.catalog__list {
  @include list-style;
}
