.contacts {
  display: flex;
}

.contacts--inner-page {
  background-color: $basic-gray;
}

.contacts__heading {
  margin: 0;
  width: 140px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;

  color: #111111;
}

.contacts__address {
  width: 140px;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: $special-dark-gray;
}
