.contacts {
  display: flex;

  @media (min-width: $tablet) {
    justify-content: space-between;
    align-items: flex-start;
  }

  @media (min-width: $desktop) {
    max-width: 570px;

    background-color: $basic-white;
  }
}

.contacts--inner-page {
  background-color: $basic-gray;
}

.contacts__heading {
  margin: 0;
  width: 140px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 20.9px;
  text-transform: uppercase;

  color: #111111;

  @media (min-width: $tablet) {
    width: 160px;

    font-size: 20px;
    line-height: 28px;
  }
}

.contacts__address {
  width: 140px;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 20px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    display: flex;
    flex-direction: column;
    width: 160px;

    font-size: 16px;
    line-height: 20px;

    text-align: right;
  }
}

.contacts__address span {
  @media (min-width: $tablet) {
    margin-top: 20px;
  }
}
