.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.copyright__company {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    margin-right: 24px;
    margin-top: -4px;
  }

  @media (min-width: $desktop) {
    margin-right: 23px;
    margin-top: 0;
  }
}

.copyright__link {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;

  margin-top: 3px;

  fill: $special-icon-gray;

  text-decoration: none;

  @media (min-width: $tablet) {
    max-width: 165px;

    margin-top: 2px;
    margin-right: 2px;
  }

  @media (min-width: $desktop) {
    margin-top: 4px;
    margin-right: 0;
  }

  &:hover {
    fill: $basic-green;
  }

  &:active {
    // fill: rgba($basic-green, 0.3);
    opacity: 0.3;
  }
}

.copyright__logo {
  width: 27px;
  height: 34px;
}
