.form {
  font-family: $special-font-family;
  text-transform: uppercase;

  overflow: hidden;
}

.form__fieldset {
  margin: 0;
  padding: 0;

  border: none;
  border-bottom: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    border-bottom: none;
  }
}

.form__fieldset--with-title {
  border-bottom: none;
  padding-top: 27px;
}

.form__fieldset-group {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;
    margin-top: 66px;

    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

.form__fieldset-group .form__wrapper {
  @media (min-width: $desktop) {
    width: 569px;
    margin: 0;
  }
}

.form__fieldset-group .form__fieldset:nth-child(2) {
  @media (min-width: $desktop) {
    justify-self: end;
    background-color: $basic-white;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: column;

  width: 320px;
  margin: 0 auto;

  margin-top: 22px;
  margin-bottom: 20px;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 709px;

    padding-left: 41px;
    padding-right: 37px;
  }

  @media (min-width: $desktop) {
    width: 1220px;

    padding-left: 0;
    padding-right: 0;
  }
}

.form__inner-wrapper {
  @media (min-width: $tablet) {
    padding-top: 25px;
    padding-bottom: 25px;
    padding-left: 28px;

    border: 1px solid #eaeaea;
  }
}

.form__fieldset--with-title .form__wrapper {
  margin-bottom: 0;
}

.form__legend {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 320px;
  margin: 0 auto;

  padding-top: 27px;
  padding-left: 20px;
  padding-right: 0;

  @media (min-width: $tablet) {
    position: relative;
    width: 709px;

    padding-top: 71px;
    padding-left: 0;
  }

  @media (min-width: $desktop) {
    width: 1300px;
  }
}

.form__legend::after {
  content: "";
  display: block;
  width: 50%;

  height: 2px;

  background-color: $basic-green;

  @media (min-width: $tablet) {
    position: absolute;

    left: -9999px;
    right: 9999px;
    width: 99999px;
  }
}

.form__fieldset:nth-child(2) .form__legend::after {
  @media (max-width: $tablet) {
    width: 60%;
    margin-top: -20px;
  }
}

.form__legend-text {
  font-size: 24px;
  line-height: 26px;
  color: $basic-dark;
  text-transform: none;

  @media (min-width: $tablet) {
    padding-left: 41px;

    font-size: 36px;
    line-height: 36px;

    background-color: $basic-white;

    z-index: 1;
  }

  @media (min-width: $desktop) {
    padding-left: 40px;
  }
}

.form__legend-text--contact {
  min-width: 189px;
  margin-right: 12px;

  @media (min-width: $tablet) {
    margin-right: 0;
    padding-right: 42px;
  }
}

.form__legend-text--comment {
  margin-right: 22px;

  @media (min-width: $tablet) {
    margin-right: 0;
    padding-right: 38px;
  }
}

.form__legend-text--additional {
  margin-right: 24px;

  @media (min-width: $tablet) {
    margin-right: 0;
    padding-right: 41px;
  }
}

.form__label {
  display: flex;
  align-items: center;

  font-size: 16px;
  line-height: 18px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__fieldset:nth-child(2) .form__label {
  color: $special-dark-gray-2;

  @media (min-width: $desktop) {
    min-height: 40px;
  }
}

// .form__fieldset:nth-child(2) .form__wrapper {
//   margin-bottom: 24px;
// }

.form__fieldset:nth-child(2) .form__wrapper {
    // margin-top: 26px;
    margin-bottom: 17px;
}

.form__contact .form__label + .form__label {
  margin-top: 8px;
}

.form__fieldset:nth-child(4) .form__label {
  color: $basic-dark;
}

.form__label + .form__label {
  margin-top: 13px;

  @media (min-width: $tablet) {
    margin-top: 20px;
  }
}

.form__fieldset:nth-child(4) .form__label + .form__label {
  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.form__fieldset:nth-child(4) .form__wrapper {
  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 221px 221px;
    grid-template-rows: 1fr 1fr;
    column-gap: 123px;
    row-gap: 32px;
  }

  @media (min-width: $desktop) {
    grid-template-columns: 221px 221px 221px 221px;
    grid-template-rows: auto;
    column-gap: 104px;
    row-gap: 0;
  }
}

.form__fieldset:nth-child(4) + .form__wrapper {
  @media (min-width: $tablet) {
    margin-top: 54px;
    margin-bottom: 72px;

    display: grid;
    grid-template-columns: 282px auto;
    column-gap: 61px;
  }

  @media (min-width: $desktop) {
    margin-top: 61px;
    margin-bottom: 82px;

    grid-template-columns: 568px auto;
    column-gap: 81px;
  }
}

.form__contact {
  margin-top: 4px;

  @media (min-width: $desktop) {
    display: flex;
    flex-direction: row;

    justify-content: space-between;
  }
}

.form__contact .form__label {
  @media (min-width: $desktop) {
    width: 569px;
    margin-top: 0;
  }
}

.form__comment {
  padding-top: 0;
}

.form__comment .form__legend {
  padding-top: 6px;
}

.form__comment .form__legend::after {
  width: 53%;

  margin-top: 6px;
}

.form__comment .form__wrapper {
  margin-top: 38px;
}

.form__additional {
  padding-top: 0;
}

.form__additional .form__legend {
  padding-top: 23px;
}

.form__additional .form__legend::after {
  margin-top: 5px;
}

.form__additional .form__wrapper {
  margin-top: 34px;
}

.form__additional .form__label:nth-child(3),
.form__additional .form__label:nth-child(4) {
  margin-top: 12px;
}

.form__required {
  font-size: 16px;
  line-height: 18px;
}

.form__required--note {
  font-size: 14px;
  line-height: 16px;
}

.form__input-text {
  margin-left: 15px;
  flex-grow: 1;

  padding-top: 13px;
  padding-bottom: 13px;
  padding-right: 15px;
  padding-left: 15px;


  text-transform: uppercase;
  font-family: $special-font-family;
  font-size: 16px;
  line-height: 18px;

  color: $special-dark-gray;

  border-radius: 0;
  border: 1px solid #cdcdcd;

  @media (min-width: $tablet) {
    padding-top: 10px;
    padding-bottom: 11px;
    padding-right: 18px;
    padding-left: 18px;

    font-size: 20px;
    line-height: 30px;
  }
}

.form__input-text--icon-mail {
  margin-top: 3px;
  margin-left: 11px;

  padding-right: 40px;

  background-image: url("../img/icon_email.svg");
  background-repeat: no-repeat;

  background-position: center right 14px;

  @media (min-width: $tablet) {
    background-size: 18px 13px;
    background-position: center right 19px;
  }
}

.form__input-text--icon-phone {
  margin-top: 5px;
  margin-left: 9px;

  padding-right: 40px;

  background-image: url("../img/icon_phone.svg");
  background-repeat: no-repeat;

  background-position: center right 12px;

  @media (min-width: $tablet) {
    background-position: center right 17px;
  }
}

.form__input-radio {
  display: none;

  margin-right: 15px;

  @media (min-width: $tablet) {
    margin-right: 20px;
  }
}

.form__radio {

  margin-right: 15px;

  @media (min-width: $tablet) {
    margin-right: 20px;
  }
}

.form__radio--on {
  display: none;
}

.form__input-radio:checked ~ .form__radio--on {
  display: block;
}

.form__input-radio:checked ~ .form__radio--off {
  display: none;
}

.form__input-checkbox {
  display: none;

  margin-right: 15px;

  @media (min-width: $tablet) {
    margin-right: 19px;
  }
}

.form__checkbox {
  margin-right: 15px;

  @media (min-width: $tablet) {
    margin-right: 19px;
  }
}

.form__checkbox--on {
  display: none;
}

.form__input-checkbox:checked ~ .form__checkbox--on {
  display: block;
}

.form__input-checkbox:checked ~ .form__checkbox--off {
  display: none;
}

.form__textarea {
  height: 150px;

  padding: 15px;
  padding-top: 9px;

  border: 1px solid #e7e7e7;

  font-family: $special-font-family;
  font-size: 16px;
  line-height: 18px;
  letter-spacing: -0.09px;
  text-transform: uppercase;
  color: $special-dark-gray;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
  }
}

.form__submit {
  margin-top: 12px;

  font-size: 16px;
  line-height: 18px;

  background-color: $basic-green;

  @media (min-width: $tablet) {
    margin-top: 0;

    padding-top: 16px;
    padding-bottom: 16px;
  }
}

.form__note {
  display: flex;
  justify-content: center;

  margin-top: 21px;
  margin-bottom: 12px;

  font-family: $basic-font-family;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  text-transform: none;

  @media (min-width: $tablet) {
    display: flex;
    align-items: center;

    margin-top: 0;
    margin-bottom: 0;

    text-align: left;
  }
}

.form__note span {
  margin-left: 4px;
}
