.goods-info {
  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    font-size: 16px;
    border-collapse: collapse;
  }
}

.goods-info__row .goods-info__cell {
  @media (min-width: $tablet) {
    padding-top: 7px;
    padding-bottom: 9px;
  }
}

.goods-info__cell {
  text-align: right;
  @media (min-width: $tablet) {
    border-bottom: 1px solid $special-gray;
  }
}

.goods-info__cell:nth-child(1) {
  text-align: left;
  font-weight: 400;
}
