.goods-info {
  margin-top: 11px;
  margin-right: 2px;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    margin-top: 16px;

    font-size: 16px;
    line-height: 14px;
    border-collapse: collapse;
  }

  @media (min-width: $desktop) {
    margin-top: 21.58px;
  }
}

.goods-info__row .goods-info__cell {
  @media (min-width: $tablet) {
    padding-top: 7px;
    padding-bottom: 7px;
  }
}

.goods-info__row:not(:first-child) .goods-info__cell {
  @media (min-width: $tablet) {
    padding-top: 9px;
    padding-bottom: 8px;
  }
}

.goods-info__cell {
  text-align: right;

  @media (min-width: $tablet) {
    border-bottom: 1px solid $special-gray;
  }
}

.goods-info__cell:nth-child(1) {
  text-align: left;
  font-weight: 400;
}
