.how-it-work {
  margin-top: 27px;
}

.how-it-work__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}


.how-it-work__heading {
  margin: 0;

  font-family: $special-font-family;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;
}

.how-it-work__list {
  margin-top: 38px;
}
