.how-it-work {
  margin-top: 27px;

  @media (min-width: $tablet) {
    margin-top: 45px;
  }
}

.how-it-work__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 709px;
    margin: 0 auto;

    padding-left: 0;
    padding-right: 0;
  }
}


.how-it-work__heading {
  margin: 0;

  font-family: $special-font-family;

  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 40px;

  text-align: left;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }
}

.how-it-work__list {
  margin-top: 38px;

  @media (min-width: $tablet) {
    margin-top: 32px;
  }
}
