.live-example {
  margin-top: 42px;
  padding-bottom: 36px;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    border-top: 1px solid #e6e6e6;

    margin-top: 41px;
    padding-bottom: 0;
    background-color: $basic-white;
  }

  @media (min-width: $desktop) {
    display: flex;

    margin-top: 205px;

    border-top: none;

    padding-left: 55px;
    padding-right: 55px;

    background-color: #eaeaea;
  }
}

.live-example__inner {
  @media (min-width: $desktop) {
    width: 1220px;
    margin: 0 auto;

    display: flex;
  }
}

.live-example__wrapper {
  width: 320px;
  margin: 0 auto;

  padding-top: 27px;
  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    padding-top: 43px;
    padding-left: 0;
    padding-right: 0;

    width: 709px;
  }

  @media (min-width: $desktop) {
    width: 50%;

    padding-top: 0;
  }
}

.live-example__wrapper--slider {
  padding-left: 0;
  padding-right: 0;
}

.live-example__heading {
  margin: 0;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;

  color: $basic-dark;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    margin-top: -125px;
  }
}

.live-example__text {
  margin: 0;
  margin-top: 33px;

  width: 95%;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    margin-top: 63px;

    font-size: 16px;
    line-height: 24px;
  }

  @media (min-width: $desktop) {
    margin-top: 133px;

    max-width: 436px;
  }
}

.live-example__stats {
  margin-top: 25px;

  @media (min-width: $tablet) {
    margin-top: 54px;
  }

  @media (min-width: $desktop) {
    max-width: 366px;
  }
}

.live-example__slider {
  margin-top: 15px;

  @media (min-width: $tablet) {
    margin-top: 250px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;
  }
}

.live-example__slider .live-example__wrapper {
  @media (min-width: $tablet) {
    padding-top: 6px;
    padding-bottom: 67px;
  }
}
