.main-menu {
  display: none;

  background-color: $basic-white;

  width: 320px;

  @media (max-width: 767px) {
    margin-left: -20px;
    margin-right: -20px;
  }

  @media (min-width: $tablet) {
    display: flex;

    width: auto;
  }

  @media (min-width: $desktop) {
    background-color: transparent;
    z-index: 1;
  }
}

.main-menu--nojs {
  @media (max-width: 767px) {
    display: block;
  }
}
