.page-footer {
  padding-top: 39px;
  padding-bottom: 22px;

  background-color: $basic-gray;

  @media (min-width: $tablet) {
    padding-top: 52px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop) {
    padding-top: 55px;
    padding-bottom: 51px;
  }
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;

  padding-left: 20px;
  padding-right: 20px;

  @media (min-width: $tablet) {
    width: 709px;

    padding: 0;

    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.page-footer__logo {
  @media (min-width: $tablet) {
    // margin-top: -1px;
    margin-top: 3px;
  }

  @media (min-width: $desktop) {
    // margin-top: -2px;
  }
}

.page-footer__social {
  margin-top: 31px;
  margin-bottom: 19px;

  border-top: 1px solid #d9d9d9;
  border-bottom: 1px solid #d9d9d9;

  @media (min-width: $tablet) {
    margin: 0;
    border: none;
  }
}
