.page-header {
  padding-top: 12px;

  background-color: $basic-white;

  @media (min-width: $tablet) {
    padding-top: 24px;
  }

  @media (min-width: $desktop) {
    padding-top: 53px;
  }
}

.page-header__wrapper {
  width: 320px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;

  display: flex;
  flex-wrap: wrap;

  justify-content: space-between;

  @media (min-width: $tablet) {
    width: 709px;

    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    width: 1220px;
  }
}

.page-header__toogle {
  width: 30px;
  height: 30px;

  margin-right: -3px;

  align-self: center;

  background-image: url("../img/icon_menu-close.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-white;

  border: none;

  @media (min-width: $tablet) {
    display: none;
  }
}

.page-header__navigation {
  width: auto;
  margin-top: 15px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}
