.programm-select {
  margin-top: 22px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 82px;
  }
}

.programm-select__wrapper {
  width: 320px;
  padding-left: 20px;
  padding-right: 20px;

  margin: 0 auto;

  @media (min-width: $tablet) {
    width: 709px;

    padding-left: 0;
    padding-right: 0;
  }

  @media (min-width: $desktop) {
    width: 1220px;

    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.programm-select__box {
  display: flex;
  flex-direction: column;

  padding-top: 21px;
  padding-right: 20px;
  padding-bottom: 21px;
  padding-left: 20px;

  background-color: $basic-gray;

  @media (min-width: $tablet) {
    padding-left: 53px;
    padding-right: 0;
    padding-top: 77px;
    padding-bottom: 56px;
  }

  @media (min-width: $desktop) {
    width: 570px;

    padding-left: 52px;
    padding-right: 51px;
    padding-top: 41px;
    padding-bottom: 55px;
  }
}

.programm-select__box + .programm-select__box {
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 0;

    padding-right: 61px;
    padding-top: 47px;
  }
}

.programm-select__heading {
  display: flex;
  align-items: center;

  margin: 0;

  position: relative;

  font-family: $special-font-family;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-align: center;
  text-transform: uppercase;
  color: $basic-dark;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
  }
}

.programm-select__heading::before {
  content: "";

  background-repeat: no-repeat;

  @media (min-width: $tablet) {
    position: absolute;

    right: 0;
    top: 0;

    background-size: contain;
  }

  @media (min-width: $desktop) {
    position: relative;

    right: auto;
    left: auto;
    top: auto;
  }
}

.programm-select__heading--slim::before {
  margin-left: 2px;
  margin-right: 19px;

  width: 50px;
  height: 53px;

  background-image: url("../img/icon_cat-slim.svg");

  @media (min-width: $tablet) {
    margin-right: 62px;

    width: 200px;
    height: 211px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 106px;
  }
}

.programm-select__heading--pro::before {
  margin-top: 3px;
  margin-left: -7px;
  margin-right: 11px;

  width: 67px;
  height: 50px;

  background-image: url("../img/icon_cat-weight.svg");

  @media (min-width: $tablet) {
    margin-top: 15px;
    margin-right: 31px;

    width: 268px;
    height: 200px;
  }

  @media (min-width: $desktop) {
    margin-left: -21px;
    margin-right: 62px;

    width: 134px;
    height: 100px;
  }
}

.programm-select__excerpt {
  margin: 0;
  margin-top: 22px;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    width: 377px;
    margin-top: 25px;

    font-size: 16px;
    line-height: 24px;

    color: $basic-dark;
  }

  @media (min-width: $desktop) {
    width: auto;
    margin-top: 39px;
  }
}

.programm-select__heading--pro + .programm-select__excerpt {
  @media (min-width: $tablet) {
    width: 342px;
  }

  @media (min-width: $desktop) {
    width: auto;
  }
}

.programm-select__excerpt::after {
  content: "";
  display: block;
  width: 100%;
  height: 1px;

  margin-top: 22px;

  background-color: #d9d9d9;

  @media (min-width: $tablet) {
    display: none;
  }
}

.programm-select__link {
  max-width: 134px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  margin-top: 20px;

  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;

  text-align: center;
  text-decoration: none;
  text-transform: uppercase;

  color: $basic-dark;

  @media (min-width: $tablet) {
    max-width: initial;
    align-self: flex-start;
    margin-top: 52px;

    font-size: 20px;
    line-height: 30px;
  }

  @media (min-width: $desktop) {
    margin-top: 31px;
  }
}

.programm-select__link::after {
  content: "";
  display: block;

  margin-right: 1px;
  margin-bottom: 3px;

  width: 32px;
  height: 11px;

  background-image: url("../img/icon_arrow.svg");

  @media (min-width: $tablet) {
    margin-left: 25px;
  }
}

.programm-select__heading--pro ~ .programm-select__link::after {
  margin-right: 3px;
}
