.slider {
  background-color: #eaeaea;
}

.slider__list {
  @include list-style;

  @media (min-width: $tablet) {
    display: flex;
    margin-top: -192px;
  }

  @media (min-width: $desktop) {
    width: 615px;
    margin-top: -208px;
  }
}

.slider__image {
  max-width: 100%;

  @media (min-width: $tablet) {
    width: 100%;
    height: 530px;
  }
}

.slider__item {
  @media (min-width: $tablet) {
    width: 50%;
    flex-grow: 1;
  }
}

.slider__item:nth-child(1) {
  @media (min-width: $desktop) {
    width: 58%;
  }
}

.slider__item:nth-child(2) {
  display: none;

  @media (min-width: $tablet) {
    display: block;
  }
}

.slider__item:nth-child(1) .slider__image {
  @media (min-width: $tablet) {
    width: 677px;
    height: 520px;

    object-fit: cover;
    // object-position: 9px;

    object-position: 16px 14px;
  }

  @media (min-width: $desktop) {
    // object-position: -12px;
    // object-position: -35px;
    object-position: -33px 12px;
    height: 516px;
  }
}

.slider__item:nth-child(2) .slider__image {
  @media (max-width: 767px) {
    margin-left: 37px;
  }

  @media (min-width: $tablet) {
    width: 545px;
    height: 520px;

    object-fit: cover;
    object-position: -247px 14px;
  }

  @media (min-width: $desktop) {
    height: 515px;

    object-position: -271px 12px;
  }
}

.slider__switchers {
  margin: 0;
  margin-top: 28px;

  display: flex;
  justify-content: center;
  align-items: center;

  font-family: $special-font-family;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;

  @media (min-width: $tablet) {
    margin-top: 26px;
  }

  @media (min-width: $desktop) {
    margin-left: 43px;
    margin-top: 45px;
  }
}

.slider__switcher {
  width: 84px;
  height: 14px;

  position: relative;

  margin-left: 19px;
  margin-right: 16px;

  border: 1px solid $special-gray;
  border-radius: 0.5em;

  background-color: $basic-white;

  cursor: pointer;

  &::after {
    content: "";

    position: absolute;

    width: 35px;
    height: 6px;

    top: 3px;
    left: 5px;

    border-radius: 6px;

    background-color: $basic-green;
  }

  @media (min-width: $tablet) {
    width: 428px;
    height: 6px;

    margin-left: 24px;
    margin-right: 20px;

    border: none;

    background-color: #dcdcdc;

    &::after {
      width: 34px;
      height: 34px;

      top: -15px;
      left: calc(50% - 17px);

      border: 1px solid #cdcdcd;
      border-radius: 50%;

      background: radial-gradient(circle, rgba(104, 183, 56, 1) 4px, rgba(255, 255, 255, 1) 4px);

      filter: drop-shadow(0 1px 3px rgba(0, 0, 0, 0.16));
    }

    &:hover::after {
        filter: drop-shadow(0px 2px 4px rgba(0, 0, 0, 0.19));
    }

    &:active::after {
      border-color: $basic-green;
      filter: drop-shadow(0px 3px 5px rgba(0, 0, 0, 0.2));
    }
  }
}

.slider__switcher-label {
  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted $special-gray;
  }

  &:hover {
    border-bottom-style: solid;
  }

  &:active {
    border-bottom-style: none;
  }
}
