.slider {
  background-color: #eaeaea;
}

.slider__list {
  @include list-style;

  @media (min-width: $tablet) {
    display: flex;
    margin-top: -192px;
  }
}

.slider__image {
  max-width: 100%;

  @media (min-width: $tablet) {
    width: 100%;
    height: 530px;
  }
}

.slider__item {
  @media (min-width: $tablet) {
    flex-grow: 1;
  }
}

.slider__switchers {
  margin: 0;
  margin-top: 27px;

  display: flex;
  justify-content: center;

  font-family: $special-font-family;
  font-size: 16px;
  line-height: 20px;

  text-transform: uppercase;
}

.slider__switcher {
  margin-left: 12px;
  margin-right: 12px;

  @media (min-width: $tablet) {
    margin-left: 24px;
    margin-right: 20px;
  }
}

.slider__switcher-label {
  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;

    border-bottom: 1px dotted $special-gray;
  }
}
