.social {
  padding-top: 20px;
  padding-bottom: 20px;

  @media (min-width: $tablet) {
    padding: 0;
  }
}

.social__list {
  @include list-style;
  display: flex;
  justify-content: center;
}

.social__item + .social__item {
  margin-left: 33px;
}

.social__link {
  display: flex;

  width: 22px;
  height: 22px;

  background-repeat: no-repeat;
  background-position: center;
}

.social__link--vk {
  background-image: url("../img/icon_vkontakte.svg");
}

.social__link--insta {
  background-image: url("../img/icon_instagram.svg");
}

.social__link--fb {
  background-image: url("../img/icon_facebook.svg");
}
