.stats {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  @media (min-width: $tablet) {
    justify-content: flex-start;
  }
}

.stats__box {
  width: 124px;
  display: flex;
  flex-direction: column;

  padding-top: 14.47px;
  padding-bottom: 17.53px;

  border: 1px solid $special-gray;
  border-radius: 3px;

  position: relative;

  @media (min-width: $tablet) {
    padding-top: 15px;
    padding-bottom: 20px;
  }
}

.stats__box + .stats__box {
  @media (min-width: $tablet) {
    margin-left: 42px;
  }
}

.stats__number {
  font-family: $special-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  text-transform: uppercase;

  @media (min-width: $tablet) {
    font-size: 30px;
    line-height: 37px;
  }
}

.stats__index {
  position: absolute;

  width: 77px;

  margin-top: 30px;

  text-align: center;

  left: calc(50% - 38px);

  font-family: $basic-font-family;
  font-size: 12px;
  line-height: 12px;

  color: $special-dark-gray;
  background-color: #eaeaea;

  @media (min-width: $tablet) {
    margin-top: 45px;

    background-color: $basic-white;
  }
}

.stats__index--alone {
  position: relative;
  width: 100%;

  margin: 0;
  margin-top: 27px;

  top: auto;
  left: auto;

  font-size: 14px;
  font-family: $special-font-family;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;

  color: $basic-dark;

  background-color: transparent;

  @media (min-width: $tablet) {
    max-width: 174px;

    margin-top: 0;
    margin-left: auto;

    font-size: 20px;
    line-height: 30px;
    text-align: right;
  }
}
