.work-list {
  @include list-style;

  @media (min-width: $tablet) {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;

    row-gap: 37px;
  }
}

.work-list__item {
  display: flex;
  justify-content: space-between;
  align-items: center;

  font-family: $basic-font-family;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;

  color: $special-dark-gray;

  @media (min-width: $tablet) {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    padding-top: 40px;
    padding-bottom: 57px;

    font-size: 16px;
    line-height: 24px;

    background-repeat: no-repeat;
  }
}

.work-list__item::before {
  content: "";
  display: flex;
  margin-right: 20px;

  min-width: 60px;
  height: 60px;

  background-repeat: no-repeat;
  background-position: center;
  background-color: $basic-green;

  @media (min-width: $tablet) {
    margin-right: 0;
    margin-bottom: 31px;

    min-width: 80px;
    height: 80px;
  }
}

.work-list__item + .work-list__item {
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }
}

.work-list__item--nutrients {
  @media (min-width: $tablet) {
    width: 230px;

    padding-right: 29px;

    background-image: url("../img/one.svg");
    background-position: right 34px bottom 13px;
  }
}

.work-list__item--cooking {
  @media (min-width: $tablet) {
    width: 246px;

    padding-right: 19px;

    background-image: url("../img/two.svg");
    background-position: right 16px bottom 13px;
  }
}

.work-list__item--replacement {
  @media (min-width: $tablet) {
    width: 247px;

    padding-right: 38px;

    background-image: url("../img/three.svg");
    background-position: right 12px bottom 11px;
  }
}

.work-list__item--month {
  @media (min-width: $tablet) {
    width: 249px;

    padding-right: 4px;

    background-image: url("../img/four.svg");
    background-position: right 5px bottom 13px;
  }
}

.work-list__item--nutrients::before {
  background-image: url("../img/icon_leaf.svg");
}

.work-list__item--cooking::before {
  background-image: url("../img/icon_tub.svg");
}

.work-list__item--replacement::before {
  background-image: url("../img/icon_eat.svg");
}

.work-list__item--month::before {
  background-image: url("../img/icon_alarm.svg");
}
